<h1>Create Movie Here: </h1>

<form method="POST" action="/movies">
<p>Title: <input type="text" name="title"/></p>
<p>Director:</p>
<select name="director_id"> #name here is key in params hash
<% Director.all.each do |director|%>
  <option value="<%= director.id %>"><%= director.name %></option> #value we want to be the director id because that is the connection between the two fields
 <% end %> 
</select>
<input type="submit" value="Create Movie" id="submit"/>
</form> 